<div class="row">
  <div class="col s12 l6 offset-l3">
    <div class="card-panel">
      <h4 class="center-align purple-text text-darken-4">Please Login</h4>
      <form name="auth" ng-submit="$ctrl.login(user)" ng-hide="$ctrl.userData.name" novalidate>
        <div class="form-group">
          <label>Username</label>
          <input class="form-control" data-ng-model="user.name" type="text" placeholder="Username" required ng-minlength="3" name="userName" required>
        </div>

        <div ng-messages="auth.userName.$error" ng-if="auth.userName.$dirty">
          <div ng-message="required" class="alert alert-danger" role="alert">Please input your username</div>
          <div ng-message="minlength" class="alert alert-danger" role="alert">Username is too short</div>
        </div>

        <div class="form-group">
          <label>E-mail</label>
          <input class="form-control" data-ng-model="user.email" type="email" placeholder="E-mail" name="userEmail" required>
        </div>

        <div role="alert" ng-messages="auth.userEmail.$error" ng-if="auth.userEmail.$dirty">
          <div ng-message="required" class="alert alert-danger" role="alert">Please input your email</div>
          <div ng-message="email" class="alert alert-danger">Please use a correct e-mail address</div>
        </div>

        <md-button type="submit" class="md-primary md-raised" data-ng-disabled="auth.$invalid">Login
        </md-button>
      </form>
    </div>
  </div>
</div>
