<header>
  <nav class="deep-purple">
    <div class="nav-wrapper container">
      <a href="#!" class="brand-logo">Drone Cafe</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a ui-sref="orders" ui-sref-active="active">Orders</a></li>
        <li><a ui-sref="menu" ui-sref-active="active">Menu</a></li>
        <li><a ui-sref="kitchen" ui-sref-active="active">Kitchen</a></li>
        <li><a ng-if="!$ctrl.userLoggedIn" ui-sref="login" ui-sref-active="active">Login</a></li>
        <li><a ng-if="$ctrl.userLoggedIn" ng-click="$ctrl.logout()">Logout</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a ui-sref="orders" ui-sref-active="active">Orders</a></li>
    <li><a ui-sref="menu" ui-sref-active="active">Menu</a></li>
    <li><a ui-sref="kitchen" ui-sref-active="active">Kitchen</a></li>
    <li><a ng-if="!$ctrl.userLoggedIn" ui-sref="login" ui-sref-active="active">Login</a></li>
    <li><a ng-if="$ctrl.userLoggedIn" ng-click="$ctrl.logout()">Logout</a></li>
  </ul>
</header>
