<div layout="row" layout-align="space-around" ng-if="vm.loading">
  <md-progress-circular md-mode="indeterminate" md-diameter="60"></md-progress-circular>
</div>

<div class="row" ng-if="!vm.loading">
  <div class="col s12 m6 xl4" ng-repeat="dish in vm.dishes">
    <div class="card large">
      <div class="card-image">
        <img ng-src="{{dish.image}}" alt="{{dish.title}}" />
      </div>
      <div class="card-content">
        <span class="card-title truncate">{{dish.title}}</span>
        <p><span class="grey-text">Ingredients: {{vm.joinList(dish.ingredients)}}</span></p>
      </div>
      <div class="card-action">
        <div class="row">
          <div class="col s4 xl6">
            <p class="dish-price">{{dish.price | currency}}</p>
          </div>
          <div class="col s8 xl6 right-align">
            <md-button class="md-primary" ng-if="vm.user.balance < dish.price" ng-click="vm.topUp(dish.price - vm.user.balance)">
              Top Up {{ dish.price - vm.user.balance | currency }}
            </md-button>
            <md-button class="buy-btn md-primary md-raised" ng-if="vm.user.balance >= dish.price" ng-click="vm.purchase(dish)">
              Order
            </md-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-if="!vm.loading">
  <ul class="pagination center-align">
    <li class="waves-effect"><a ng-if="vm.pageStart >= vm.pageSize" ng-click="vm.pageStart = vm.pageStart - vm.pageSize; vm.getMenu(vm.pageStart + vm.pageSize)"><i class="material-icons">chevron_left</i></a></li>
    <li class="waves-effect" ng-class="{active: $index +  vm.pageStart + 1 == vm.currentPage}" ng-repeat="item in [].constructor(vm.totalPages) | limitTo : vm.pageSize : vm.pageStart track by $index ">
      <a ng-click="vm.getMenu($index + vm.pageStart + 1)">{{ $index + vm.pageStart + 1 }}</a>
    </li>
    <li class="waves-effect"><a ng-if="vm.pageStart < vm.totalPages - vm.pageSize" ng-click="vm.pageStart = vm.pageStart + vm.pageSize; vm.getMenu(vm.pageStart + 1)"><i class="material-icons">chevron_right</i></a></li>
  </ul>
</div>
