<h1 class="purple-text text-darken-4">Kitchen</h1>

<div layout="row" layout-align="space-around" ng-if="vm.loading">
  <md-progress-circular md-mode="indeterminate" md-diameter="60"></md-progress-circular>
</div>

<div class="row" ng-if="!vm.loading">

  <div class="col s12 l6">
    <md-toolbar class="deep-purple lighten-4">
      <h2 class="md-toolbar-tools">
        <span class="purple-text text-darken-4">Orders</span>
      </h2>
    </md-toolbar>

    <md-content>
      <md-list>
        <md-list-item class="md-3-line" ng-repeat="order in vm.ordersList">
          <div class="md-list-item-text">
            <h3>{{ order.dish.title }}</h3>
            <h4>Price: {{ order.dish.price | currency }}</h4>
            <p>{{ vm.getTime(order.createdAt) }}</p>
          </div>
          <md-button class="md-primary md-secondary" ng-click="vm.startCooking(order, $index)">Start Cooking</md-button>
          <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
      </md-list>
    </md-content>
  </div>

  <div class="col s12 l6">
    <md-toolbar class="deep-purple lighten-4">
      <h2 class="md-toolbar-tools">
        <span class="purple-text text-darken-4">Cooking</span>
      </h2>
    </md-toolbar>

    <md-content>
      <md-list>
        <md-list-item class="md-3-line" ng-repeat="order in vm.cookingList">
          <div class="md-list-item-text">
            <h3>{{ order.dish.title }}</h3>
            <h4>Price: {{ order.dish.price | currency }}</h4>
            <p>{{ vm.getTime(order.createdAt) }}</p>
          </div>
          <md-button class="md-secondary md-primary" ng-click="vm.finishCooking(order, $index)">Complete</md-button>
          <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
      </md-list>
    </md-content>
  </div>

</div>
