body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.wrapper {
  flex: 1;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.md-button:focus {
  background-color: inherit;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating){
  color: white;
  margin-right: inherit;
}

.card-action > .row {
  margin-bottom: 0;
}

.Failed {
  color: red;
}

.Served {
  color: green;
}

.Cooking {
  color: orange;
}

.Delivering {
  color: blue;
}

.Ordered {
  color: purple;
}
