<!-- Profile -->
<div class="row">
  <div class="col s12">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{ vm.user.name }}</span>
          <span class="user-balance md-subhead">{{ vm.user.balance | currency }}</span>
        </md-card-title-text>
        <md-card-title-media>
          <div class="md-media-sm card-media">
            <i class="large material-icons purple-text">account_circle</i>
          </div>
        </md-card-title-media>
      </md-card-title>
      <md-card-actions layout="row" layout-align="end center">
        <md-button class="topup-btn" ng-click="vm.topUp()">Top Up</md-button>
        <md-button class="logout-btn" ng-click="vm.logout()">Logout</md-button>
      </md-card-actions>
    </md-card>
  </div>
</div>

<!-- Orders List-->
<md-toolbar class="deep-purple lighten-4">
  <h2 class="md-toolbar-tools">
    <span class="purple-text text-darken-4">Your Orders</span>
  </h2>
</md-toolbar>

<div layout="row" layout-align="space-around" ng-if="vm.loading">
  <md-progress-circular md-mode="indeterminate" md-diameter="60"></md-progress-circular>
</div>

<md-content ng-if="!vm.loading">
  <md-list>
    <md-list-item class="md-3-line" ng-repeat="order in vm.orders">
      <div class="md-list-item-text">
        <h3>{{ order.dish.title }}</h3>
        <h4>Price: {{ order.dish.price | currency }}</h4>
        <p>{{ vm.getTime(order.createdAt) }}</p>
      </div>
      <md-button class="md-secondary" ng-class="order.status">{{ order.status }}</md-button>
      <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
  </md-list>
  <md-button class="order-btn md-raised md-primary right" ui-sref="menu">Make New Order</md-button>
</md-content>
